.App {
  text-align: center;
}

form {
  width: 50%;
  margin: auto;
  margin-top: 5%;
  font-size: 1.5em;
  border: 1px solid black;
  padding: 20px;
}

label {
  font-weight: 700;
}

.nameInput {
  width: 65%;
  padding: 5px 10px;
  margin: 0px 10px;
  font-size: 1em;
  vertical-align: middle;
}

input.submitInput {
  font-size: 0.75em;
  font-family: 'Arimo', sans-serif;
  width: 10%;
  padding: 5px;
  -webkit-appearance: none;
}

h1 {
  width: 50%;
  margin: 50px auto;
  text-align: center;
  font-family: 'Arimo', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h3{
  width: 50%;
  margin: 20px auto;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Arimo', sans-serif;
}

.matchBoxWin {
  width: 50%;
  font-size: 1em;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid green;
  background-color: #0080004f;
}

.matchBoxLose {
  width: 50%;
  font-size: 1em;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid red;
  background-color: #ff00003b;
}

.matchBoxWin img {
  height: 40px;
  width: 40px;
  padding: 5px;
  margin: 0px 5px;
  border: 1px solid white;
  vertical-align: middle;
}

.matchBoxLose img {
  height: 40px;
  width: 40px;
  padding: 5px;
  margin: 0px 5px;
  border: 1px solid white;
  vertical-align: middle;
}

.duration h5 {
  display: inline;
  line-height: 50px;
  font-size: 1.25em;
  margin: 0px 10px;
}

.runes h5 {
  display: inline;
  line-height: 50px;
  font-size: 1.25em;
  margin: 0px 10px;
}

.items h5 {
  display: inline;
  line-height: 50px;
  font-size: 1.25em;
  margin: 0px 10px;
}

.summSpells h5 {
  display: inline;
  line-height: 50px;
  font-size: 1.25em;
  margin: 0px 10px;
}

.champion h5 {
  display: inline;
  line-height: 50px;
  font-size: 1.25em;
  margin: 0px 10px;
}

.creepScore h5 {
  display: inline;
  line-height: 50px;
  font-size: 1.25em;
  margin: 0px 10px;
}

.kda h5 {
  display: inline;
  line-height: 50px;
  font-size: 1.25em;
  margin: 0px 10px;
}

.contentWrapper {
  width: 75%;
  margin: auto;
  font-family: 'Arimo', sans-serif;
}
